
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    div{
        margin:0.5rem;

        label{
            font-weight: 200;
            margin-right: 1rem;
        }
        input{
            border-radius: 6px;
            width: 90%;

        }
        input::placeholder {
            color: rgb(150, 150, 151);
          }
    }

    .successButton{
        border-radius: 10px;
        background-color: #B5E033;
    }
    .simpleButton {
        outline:none;
        padding: 0;
        border-radius: 42px;
        display: inline-block;
        cursor: pointer;
        color: #333333;
        font-weight: 900;
        padding-right:0.5rem;
        padding-left:0.5rem;
        text-decoration: none;
    }
    .containerGG{
        display: flex;
        flex-direction: column;
        .githubButton{
            display: flex;
            color: white;
            height: 40px;
            width: 200px;
            background-color: black;
            justify-content: space-around;
            align-items: center;
        }
    }
    .multifactorAuth{
        z-index: 0;
    }
}
