$color:#9abf15;
$minwidth:600px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {

    height: 15rem;
    width: 15rem;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background: #ffffff;
    transition: 0.5s;
    overflow: hidden;
    outline: none;
    border: 3px solid #9abf15;
    transition: 0.5s;
    z-index: 2;


    .image {
      height: 40%;
      margin: 0 auto;

      a {
        margin: auto;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        border-radius: 10px;
        width: 80%;
        height: 80%;
      }
    }

    .name {
      height: 10%;
      display: flex;
      margin: 0 auto;
      width: 95%;
      font-weight: bolder;
      font-size: 1rem;
      text-align: center;
      color: #000000;
      transition: 0.5s;
      cursor: pointer;
      justify-content: center;

      &:hover {
        color: #9abf15;
        
      }
    }

    .stock {
      height: 10%;
      margin: auto !important;
      font-weight: bolder;
      font-size: 1rem;
      display: flex;
      justify-content: center;

      .on {
        color: #9abf15;
      }

      .out {
        color: #2C3A40;
      }
    }

    .price {
      height: 10%;
      margin: auto !important;

      span,
      b {
        margin: auto;
      }
    }
  }

  .btnOn {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    color: #fff;
    background-color: $color;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    font-weight: bolder;
    outline: none;
    //margin: 0 auto;
    margin-top: 5%;
    transition: 0.5s;
    margin-top: 0;
    border: 3px solid $color;
    border-top: 0;
    border-radius: 0 0 30px 30px;
    //box-shadow: 10px 0px 5px 5px rgba(0,0,0,0.75);

    &:hover {
      color: #fff;
      background-color: #2C3A40;
      transform: translate(0, -5px);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .span {
      font-size: 1vw;

      @media screen and (max-width: $minwidth) {
        font-size: 3.5vw;
      }
    }
  }

  .btnOff {
    @extend .btnOn;
    border: 3px solid #2C3A40;
    background-color: #2C3A40;

    &:hover {
      color: #fff;
      background-color: #000;
      transform: translate(0, -5px);
    }
  }


}

.off {
  @extend .container;

  //color:#2C3A40;

  .card {
    border: 3px solid #2C3A40;
    .name {

      &:hover {
        color: #2C3A40;
      }
    }

  }

}


.review {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 210%;
  width: 185px;

  display: flex;
  align-items: center;
  text-align: left;
}

.favorite {
  width: 200px;
  height: 50px;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 15px;
  display: flex;
  z-index: 1;
  position: absolute;
  flex-direction: column;
}

.favorite img {
  width: 20px;
}