.whatsapp_icon {
  position: fixed;
  // width: 90%;
  height: 3rem;
  bottom: 6rem;
  right: 2rem;
  z-index: 2
}


// .chat_icon {
//   position: absolute;
//   height: 6rem;
//   margin-top: 38%;
//   margin-left: 45%;
// }

// .text {
//   position: ab;
//   font-size: small;
//   margin-left: 90%;
//   margin-top: 40%;
// }
